
.mont{
    font-family: 'Montserrat', sans-serif;
}
.crim{
    font-family: 'Crimson Text', serif;
}
input[type='radio'],
input[type='checkbox']{
    display: none;
}

a{
    text-decoration: none;
}
/* All Using CSS */

@media screen and (min-width: 1280px){
    header > div{
        max-width: 1170px; margin: 0 auto; 
    }

    header{
        border-bottom: 1px solid #f0f2f7;
    }
    header > div > *
    /*,header > div nav ul li*/
    {
        float: left;
    }
    header > div:after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header > div label{
        width: 5.3%; max-width: 60px;
        border-right: 1px solid #f0f2f7;
    }
    header > div label:before{
        display: block; font-size: 20px; line-height: 90px;
    }
    header > div h1{
        width: 10.7%;  min-width: 125px;
    }
    header > div h1 a{
        display: block; text-align: right;
        padding: 31px 0;
    }
    header > div h1 a img{
        max-width: 92px;
    }
    header > div nav{
        width: 54.7%;
    }
    header > div div{
        width: 29.3%;
    }
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li a{
        font-size: 14px; display: block;
        line-height: 90px; color: #343e5c;
        font-weight: 700;
    }
}
/* desktop Fin */