body{
    margin: 0;
}
article{
    max-width: 1000px;
    overflow: hidden; margin:0 auto 30px;
}
/* 
article:after{
    ~~~~
}
*/
article > *:first-child{
    float: left; width: 150px; line-height: 110px;
    background-color: gray; color: white;
    font-size: 100px; text-align: right;
    margin: 0 20px 10px 0;
}
article p{
    font-size: 14px;
}

article p > *{
    color: #09f;
    background-color: transparent;
}
article p > *:not(mark){
    text-decoration: underline;
}

/* article p strong,
article p span,
article p em{
    color: #09f;
    text-decoration: underline;
}
article p mark{
    color: #09f;
} */
