body {
    margin: 0;
}

article {
    overflow: hidden;
    margin-bottom: 10px;
}

    article > *:first-child {
        font-size: 200px;
        width: 40%;
        line-height: 140px;
        background-color: gray;
        color: white;
    }

body article:nth-child(odd) > *:first-child {
    float: right;
    text-align: right;
    margin: 0 0 10px 20px;
}

body article:nth-child(even) > *:first-child {
    float: left;            
    margin: 0 20px 10px 0;
}

article p {
    margin: 0 0 10px 0;
}

    article p > *:not(mark) {
        text-decoration: underline;
    }

    article p > * {
        color: #09F;
        background-color: transparent;
    }


/*http://lipsum.com/ text sample*/
