.redG{
    background: -moz-linear-gradient(-45deg, #9b1f1f 0%, #d13326 40%, #c92520 55%, #ea7e7e 100%);
    background: -webkit-linear-gradient(-45deg, #9b1f1f 0%, #d13326 40%, #c92520 55%, #ea7e7e 100%);
    background: linear-gradient(135deg, #9b1f1f 0%, #d13326 40%, #c92520 55%, #ea7e7e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b1f1f',endColorstr='#ea7e7e', GradientType=1);
}
.blueG{
    
}
/* todo : 직접 쳐보기. */


.greenG{

}
.yellowG{

}
/* todo : http://colorzilla.com/gradient-editor */