*{
    margin:0; padding:0;
}
header{
    position: fixed; width: 100%; height: 200px;
    background-color: mediumorchid; z-index: 1000;
}
section{
    background-color: gray; position: relative; height: 1200px;
    overflow: hidden;
}
section aside{
    position: absolute; width: 20%; height: 100%; left:0; top: 200px;
    background-color: goldenrod;
}
section article{
    position: absolute; left: 30%; /* right: 0;*/  top: 200px;
    width: 70%; height: 100%; 
    background-color: skyblue;
}
footer{
    height: 80px; text-align: center; font-size: 24px;
    background-color: orange;
}