body{
    margin:0 auto; padding:0; width: 960px; 
}
header{
    background-color: #6cc; position: relative;
}
header h1{
    font-size: 16px; width: 250px; background-color: #66c;
    color: springgreen; text-align: center; margin:0 auto;
    padding: 10px 0;
}
header .searchBox{
    position: absolute; right: 0; top: 27px;
}

header nav{
    background-color: #dac;
}
header nav ul{
    padding: 10px 0; text-align: center; margin: 0;
}
header nav ul li{
    display: inline-block;
}
header nav ul li:not(:first-child){
    margin-left: 50px;
}
header nav ul li a{
    text-decoration: none; color: slateblue;
}
header nav ul li a:hover{
    color: sienna;
}
.wrap{
    margin-bottom: 30px; 
}

.wrap:after{
    content:''; display: block; visibility: hidden; clear: both;
}
.wrap .imgBox{
    margin-bottom: 30px;
}
.wrap .imgBox img{
    width: 100%;
}
.wrap ul{
    border: 1px solid #66c;
    margin-top: 0; margin-bottom: 0; float: left;
    width: 310px; padding: 0;
}
.wrap ul:not(:first-of-type){
    margin-left: 10px;
}
.wrap li{
    display: block;
}
footer{
    background-color: #069; color: #fff; padding: 10px 0; 
    text-align:center;
}
/* 
    worst Case
    .wrap{overflow:hidden;}
    .wrap .imgBox{margin-bottom:30px;}
    .wrap .imgBox img{width:100%; height:250px;}
    .wrap ul{margin:0 0 30px 0; width:304px; border:1px solid #999; list-style:none; padding:0; float:left; }
    .wrap ul.latestList1{margin:0 20px 0 0;}
    .wrap ul.latestList3{margin:0 0 0 21px;}
*/