html{
    font-weight: bold;
}
.tWhite{
     color: white;
}
.tAlignC{
    text-align : center;
}
.tAlignL{
    text-align : left;
}
.tAlignR{
    text-align : right;
}
.tSize12{
    font-size: 12px;
}
/* ? All USING */

/* @media screen and (max-width: 767px){
    html{
        color: white;
    }
} */
@media screen and (max-width: 767px) and (orientation: landscape){
    html{
        background-color: orange;
        
    }
    h1{
        font-size: 1rem; line-height: 2rem;
    }
    p{
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    html{
        background-color: red;
        
    }
    h1{
        font-size: 1rem; line-height: 2rem;
    }
    p{
        font-size: 0.75rem;
        line-height: 1rem;
    }
}
/* ? mobile Device - user Resolution 768 lower*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    html{
        background-color: greenyellow; color: green;
    }
    h1{
        font-size: 2rem; line-height: 3rem;
        text-align: right;
    }
    p{
        font-size: 1rem;
        text-align: right;
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    html{
        background-color: green; 
    }
    h1{
        font-size: 2rem; line-height: 3rem;
        text-align: right;
    }
    p{
        font-size: 1rem;
        /* text-align: right; */
        line-height: 1.5rem;
    }
}
/* ? Tablet Device - user resolution 768 Higher and 1024px Lower */

@media screen and (min-width: 1025px){
    html{
        background-color: blue; 
    }
    h1{
        font-size: 2rem; line-height: 3rem;
    }
    p{
        font-size: 1rem; text-align: right;
        line-height: 1.5rem;
    }
}
/* ? Desktop Device - user resolution 1025 higher */