@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body{
    font-family: 'Nanum Gothic', sans-serif;
}
h1{
    font-size:40px; font-weight: 400; color: #06f;
}
h2{
    font-size: 20px; font-weight: 700; color: #60f;
}
h3{
    font-size: 15px; font-weight: 800; color: #f06;
}
p.letter{
    letter-spacing: -1px;
}
p.word{
    word-spacing: 10px;
}
p.w_normal{
    width: 150px; white-space: normal;
    line-height: 21px; border: 1px solid red;
}
p.w_nowrap{
    width: 150px; white-space: nowrap;
    line-height: 21px; border: 1px solid red;
    overflow: hidden; text-overflow: ellipsis;
}
div.v_alignTest span{ /* ? = span target select*/
    display: inline-block;
    vertical-align: middle;
}
div.v_alignTest img{ /* ? = img target select */
    vertical-align: middle;
}

	/*
	* baseline: 문자의 밑선에 맞추어 정렬
	* middle: 문자의 중앙을 기준으로 해서 정렬
	* sub : 아래첨자
	* super : 위 첨자
	* text-top:문자의 윗선을 밑선으로 해서 정렬
	* top: 위쪽에 정렬
	* bottom : 아래쪽 정렬
	* % : 퍼센트로 정렬 위치를 지정
	*/	