html,body{height: 100%;}
body{
    font-family: 'Roboto'; background-color: #635f59;
}
header nav, .row{
    max-width: 1170px; margin:0 auto;
}
.row article{
    transition-duration:0.75s;
    transition-timing-function: ease-in-out;
}
.row .span_1{background-color:#0cf;}
.row .span_2{background-color:#0094ff;}
.row .span_2:nth-child(2n){background-color:#5a6fca;}
.row .span_2:nth-child(3n){background-color:#b6ff00;}
.row .span_3{background-color:#ffb600;}
.row .span_4{background-color:#ff00dc;}
/* * all Using CSS */

@media screen and (min-width:768px){
    header{
        background-color: white; position: fixed; width: 100%;
    }
    header nav{
        padding: 10px 0;
    }
    header nav ul li{
        width: 19%; display: inline-block;
        text-align: center;
    }
    header nav #MUI_on, header nav ul li.mobileUI{
        display: none;
    }
    header nav ul li a{
        text-transform: uppercase; display: inline-block;
        text-decoration: none; font-size: 14px; color: #635f59;
        padding: 20px; border:5px solid white;
        transition-duration:1s, 0.5s;
        transition-property:background-color, border;
        transition-delay: 0.2s, 0.1s;
    }
    header nav ul li:hover a{
        background-color: #5a6fca; border: 5px solid #3a208f;
        color: white; border-radius: 10px 0 10px 0;
    }
    /* *header Fin */
    .container{
        padding-top:85px;
    }
}

/* *tablet ~ Desktop 768 ~ resolution */